
</main>
<footer class="footer">
  <div class="footer-bg">
      <div class="footer-container ">
          <div>
              <h1 class="footer-title">The Lazy Developer</h1>
              <span class="footer-subtitle">Corporation</span>
          </div>
          <ul class="footer-links">
              <li id="#home">
                  <a href="/" class="footer-link"><i class="uil uil-estate nav-icon"></i></a>
              </li>
              <li id="#compose">
                  <a href="/compose" class="footer-link"><i class="uil uil-document-layout-left nav-icon"></i></a>
              </li>
              <li id="#contact">
                  <a href="/contact" class="footer-link"><i class="uil uil-message nav-icon"></i></a>
              </li>
          </ul>

      
      </div>
      <p class="footer-copy">&#169; LazyDeveloper. All rights reserved.</p>
  </div>
</footer>
</body>
</html>
