<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title >WRITER'S HUB</title>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
     <!--==================== UNICONS ====================-->
     <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link rel="stylesheet" href="/css/styles.css">
  <body>
    <header>
      <nav class="navbar nav-container">
        <a href="/">
        <p class="nav-left">WRITER'S HUB</p>
          
        </a>
        <ul class="nav-right">
          <li id="home"><a href="/" class="nav-link" ><i class="uil uil-estate nav-icon"></i>HOME</a></li>
          <li id="about"><a href="/compose" class="nav-link" ><i class="uil uil-document-layout-left nav-icon"></i>COMPOSE BLOG</a></li>
          <li id="contact"><a href="/contact" class="nav-link" ><i class="uil uil-message nav-icon"></i>CONTACT US</a></li>
        </ul>
  
      </nav>
    </header>
    
    <main class="main-container">
