<%- include("partials/header"); -%>
<section class="section-main">
    <h1 class="section-title">Contact</h1>
    <section class="contact-section " id="contact">
            <div class="contact-container container grid">
            <div>
                <div class="contact-information">
                    <i class="uil uil-phone-alt contact-icon"></i>
                    <div>
                        <h3 class="contact-title">Call me</h3>
                        <span class="contact-subtitle">(+91) 9999999999</span>
                    </div>
                </div>

                <div class="contact-information">
                    <i class="uil uil-envelope contact-icon"></i>

                    <div>
                        <h3 class="contact-title">E-mail</h3>
                        <span class="contact-subtitle">LazyDeveloper@gmail.com</span>
                    </div>
                </div>

                <div class="contact-information">
                    <i class="uil uil-map-marker contact-icon"></i>

                    <div>
                        <h3 class="contact-title">Location</h3>
                        <span class="contact-subtitle">India</span>
                    </div>
                </div>
            </div>

            <form action="" class="contact-form grid">
                <div class="contact-inputs grid">
                    <div class="contact-content">
                        <label for="" class="contact-label">Name</label>
                        <input type="text" class="contact-input">
                    </div>

                    <div class="contact-content">
                        <label for="" class="contact-label">E-mail</label>
                        <input type="email" class="contact-input">
                    </div>
                </div>

                <div class="contact-content">
                    <label for="" class="contact-label">Subject</label>
                    <input type="text" class="contact-input">
                </div>

                <div class="contact-content">
                    <label for="" class="contact-label">Description</label>
                    <textarea name="" id="" cols="0" rows="3" class="contact-input"></textarea>
                </div>

                <div>
                    <a href="/" class="button button--flex">
                        Send Wishes
                        <i class="uil uil-message button-icon"></i>
                    </a>
                </div>
            </form>
        </div>

    </section>
</section>
    
<%- include("partials/footer"); -%>
