<%- include("partials/header"); -%>
<section class="section-main">

  <h1 class="section-title"><%=title%></h1>
  <p class="section-content"><%=content%></p>

</section>
 

<%- include("partials/footer"); -%>
